*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 50px;
}
.section-one{
    background-color:black;
    color:white;
    padding:20px;
}
.section-one__contact{
    background-color: orangered;
    color:white;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    display: inline-block;
    text-decoration: none;
    margin-top:10px;
}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    margin-top:10px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top:20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top:20px;
}
.section-five{
    background-color:black;
    color:white;
    padding:20px;
}
.section-five__title a{
    color:skyblue;
}
.section-three__desc li,.section-four__desc li{
    list-style: none;
}
.section-three{
    background-color:#6462FD;
    color:black;
    padding:20px;
    display:inline-block;
    border-radius: 10px;
    height:200px;
    vertical-align: top;
}
.section-four{
    background-color: #fe7517;
    color:black;
    padding:20px;
    display:inline-block;
    border-radius: 10px;
    height:200px;
}
.contact-form{
    margin-top:20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
     margin-top:10px;
}
.contact-form__input{
    padding:10px;
    border:none;
    border-bottom:solid black 1px;
}
.contact-form__textarea{
    /*margin-top:5px;*/
    padding:10px;
    border:none;
    border:solid black 1px;
}
.contact-form__submit{
    background-color: #4AA579;
    height:50px;
    width:100px;
    border:none;
    color:black;
    font-size:medium;
    border-radius:10px;
    padding:10px 20px 10px 20px;
}